/* Home / Header */


body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.change {
    cursor: pointer;
    border: 1.2px solid rgb(132, 118, 92);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: rgb(132, 118, 92);
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: 0.7s;
}

.dark .change {
    color: white;
    border: 1.2px solid white;
}

#video {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    user-select: none;
}

#main {
    margin-top: 2000px;
}

#parent {
    position: relative;
    height: 35vw;
    width: 100vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.396);
    box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.463);
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(#00000000, #000000);
}

.dark .gradient {
    background: linear-gradient(#00000000, #222222);
}


#header {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
}

#logo img {
    width: 2.8vw;
    margin-top: 33px;
    margin-left: 225px;
    transition: 0.5s;
}

#logo img:hover {
    scale: 1.3
}


nav ul {

    list-style-type: none;
    padding: 10px;
    margin-top: 17px;
    margin-left: 49px;
    display: flex;

}


nav li a {
    margin: 0px 18px;
    text-decoration: none;
    color: rgb(186, 186, 186);
    font-size: 18px;
    transition: 0.3s;

}

nav a:hover {
    /**border-bottom: 5px solid red;**/
    color: rgb(220, 220, 220)
}

.active {
    color: white;
    transition: 0.3s;
}

nav a .active:hover {
    color: white;
}



#text-white {
    font-family: "Futura";
    font-size: 40px;
    line-height: 48px;
    color: white;
    display: block;
    max-width: 1023px;
    margin: auto;
    padding-top: 172px;
    padding-bottom: 10px;
    /* border: 1px solid red; */

}


.p-white {
    margin: auto;
    display: block;
    max-width: 1023px;
    /* border: 1px solid red; */
    color: white;
}

.overlay-front {
    position: relative;
    z-index: 1;
}

.btn-try {
    background-color: #eb8994;
    color: #fff;
    display: flex;
    border-radius: 5px;
    /* width: 175px; */
    height: 45px;
    max-width: 175px;
    max-height: 45px;
    margin-top: 17px;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

}

.btn-try:hover {
    color: black;
    scale: 1.03;
}


.arriv {
    max-width: 1022px;
    margin: auto;
    justify-content: left;
}






/* Partie Actualité  */





.news {
    color: white;
    text-align: center;
    font-family: "Futura";
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    align-items: center;
    /* border: 1px solid red;  */
    margin: auto;
    max-width: 1073px;
}

.containeroffer {
    display: flex;
    align-items: stretch;
    /* border: 1px solid red;  */
    margin: auto;
    max-width: 1073px;
}

.container img,
.container div {
    width: 50%;
    margin-bottom: 150px;
}

.rose {
    border-radius: 5px;
    visibility: hidden;
}

.white {
    color: white;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    margin: 0;
}


h6 {
    /* Jerky Jessy */
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin: 0;
}



.main1 {
    padding: 5px;
    background-image: url(images/black_pink_split_background.png);
    background-size: 102% 102%;

}

.dark .main1 {
    background-image: url(images/black_pink_split_bg_dark.png);
}

#img-white {
    background-image: url(images/white_pink_split_background.png);
    top: 0;
    margin: 0;
    background-size: 101% 101%;
}

.dark #img-white {
    background-image: url(images/white_pink_split_bg_dark.png);
}

.godance {
    display: flex;
    height: 300px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    visibility: hidden;

}

.btn-see {
    background-color: #ffffff;
    color: #000;
    display: flex;
    border-radius: 5px;
    /* width: 175px; */
    height: 45px;
    max-width: 175px;
    max-height: 45px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 42px;
    padding-right: 42px;
    transition: 0.2s;
}

.btn-see:hover {
    color: #eb8994;
    scale: 1.04;
}




/* Partie Encadré par les meilleurs */





.thebest {
    font-size: 32px;
    font-family: "Futura";
    font-weight: 500;
    color: black;
}

.dark .thebest {
    color: white;
    background-color: #a76d73;
}


.grid {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
    padding-bottom: 60px;
}

.grid div p {
    text-align: center;
}

.grid div img {
    border-radius: 125px;
    transition: 0.5s;
}

.grid div img:hover {
    scale: 1.15;
}

.photo-1 {
    grid-area: a;
}




.photo-2 {
    grid-area: b;
}



.photo-3 {
    grid-area: c;
}



.photo-4 {
    grid-area: d;
}



.photo-5 {
    grid-area: e;
}



.photo-6 {
    grid-area: f;
}




.photo-7 {
    grid-area: g;
}




.photo-8 {
    grid-area: h;
}



.photo-9 {
    grid-area: i;
}



.divthebest {
    padding-bottom: 40px;
    padding-top: 1px;
    margin: 0;
    text-align: center;
    background-color: #EDB1B6;

}

.dark .divthebest {
    background-color: #a76d73;
}




/* Partie Choisis ton plan */




.choosetitle {

    color: #000;
    text-align: center;
    font-family: "Futura";
    font-weight: 500;
    font-size: 32px;
}

.dark .choosetitle {
    color: white;
}


.undertitle,
undertitle1 {

    text-align: center;
    padding-top: 0;
    margin-bottom: 80px;
}


.choose {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: auto;
}

.containeroffer #monthly {
    z-index: 0;
    background-color: #fff;
    border-radius: 5px;
    width: 363px;
    margin-top: 82px;
    padding: 39px;
}

.section-mobile {
    position: relative;
}

#svg {
    z-index: 0;
    position: absolute;
    right: 717px;
    width: 50%;
    top: 215px;
    visibility: hidden;
}


.containeroffer #year {
    background-color: #EDB1B6;
    border-radius: 5px;
    width: 440px;
    margin-left: 110px;
    position: relative;
}

.dark .bestoffer_title {
    color: #000;
}


.left {
    color: #000;
    font-family: "Futura";
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: 31.5px;
}

.right {
    color: #000;
    font-family: "Futura";
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: 22.6px;
}



#bestoffer {
    background-color: #EB8994;
    color: black;
    padding: 1px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: "Futura";
    font-weight: 400;
    font-size: 24px;

}

.price {
    font-size: 50px;
    font-family: "Futura";
    font-weight: 600;
    margin: 24px 24px 24px 22.8px;

}

.dark .price {
    color: black;
}

.price-left {
    font-size: 50px;
    font-family: "Futura";
    font-weight: 600;
    margin: 24px 24px 24px 31.5px;

}

.dark .price-left {
    color: #000;
}

.pay {
    font-size: 12px;
    font-family: "Futura";
    font-weight: 400;
    margin-left: 23px;
    margin-bottom: 20px;
}

.dark .pay {
    color: #000;
}

.pay-left {
    font-size: 12px;
    font-family: "Futura";
    font-weight: 400;
    margin-left: 31.5px;
    margin-bottom: 20px;
}

.dark .pay-left {
    color: #000;
}


.padding {
    padding: 20px 48px 68px 48px;

}

.startm {
    display: flex;
    font-size: 16px;
    background-color: #fff;
    height: 50px;
    font-weight: bold;
    color: #212529;
    height: 50px;
    margin: auto;
    max-width: 300px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.startm:hover {
    scale: 1.1;
}


.starta {
    display: flex;
    font-size: 16px;
    background-color: #000;
    height: 50px;
    font-weight: bold;
    color: white;
    height: 50px;
    margin: auto;
    max-width: 300px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.starta:hover {
    scale: 1.1;
}

.small {
    font-size: 10px
}

.bgblue {
    position: absolute;
    left: -30px;
    top: -20px;
    width: 490px;
    height: 460px;
    z-index: -1;
}




/* Partie Vibz aussi sur mobile */




.vibzmobile {
    color: #000;
    text-align: center;
    font-family: "Futura";
    font-weight: 500;
    font-size: 32px;
    margin-top: 130px;
    visibility: hidden;
}

.dark .vibzmobile {
    color: white;
}


#tablet {
    position: absolute;
    width: 41vw;

}

.dark .googlep {
    border: 1px solid white;
    border-radius: 15px;
}

.row {
    margin: auto;
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin-bottom: 150px;
    margin-top: 490px;
}

.row img {
    width: 14vw;
}

#marginright {
    margin-right: 63px;
}

.main2 {
    background-image: url(images/trust_background.png);
    background-size: 102% 102%;
    background-repeat: no-repeat;
    text-align: center;
    height: 800px;
}

.dark .main2 {
    background-image: url(images/trust_background_dark1.png);
}


.logoentr {
    width: 10vw;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
    visibility: hidden;
    transition: 1s;
}

.logoentr:hover {
    transform: rotate(360deg);
}

.row-comm {
    margin: auto;
    max-width: 1075px;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 220px; */
    justify-content: space-between;

}

.trigger-comm {
    margin-top: 170px;
    margin-bottom: 50px;
}

.hidden {
    visibility: hidden;
}

.reviewtitle {
    font-size: 20px;
    font-weight: 800;
}

.dark .reviewtitle {
    color: white;
}

.comm1 {
    border-radius: 5px;
    background-color: white;
    padding: 18px;
    width: 280px;
    font-size: 14px;

}

.dark .comm1 {
    background-color: #1d1d1d;
    color: white;
}

.comm2 {
    border-radius: 5px;
    background-color: white;
    padding: 18px;
    width: 280px;
    font-size: 14px;
}

.dark .comm2 {
    background-color: #1d1d1d;
    color: white;
}


.comm3 {
    border-radius: 5px;
    background-color: white;
    padding: 18px;
    width: 280px;
    font-size: 14px;
}

.dark .comm3 {
    background-color: #1d1d1d;
    color: white;
}



/* Partie Footer */



footer {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #000;
    padding-bottom: 35px;
    padding-top: 125px;

}


.dark footer {
    background-color: #222;
}

.tf {
    font-size: 24px;
    font-family: "Futura";
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 0;
}

.link {
    display: flex;
    font-size: 16px;
    margin-top: 16px;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}


.dark {
    background-color: #222;
    color: #e6e6e6;
}